body {
    background-color: #fff;
  display: flex;
  height: 100vh;
}
.interior-h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    margin: 20px;
}
.interior-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
    margin: 20px;
}
.texto {
    width: 610px;
    height: 545;
    text-align: left;
    margin-bottom: 50px;
}
button {
    background-color: #000;
    color: #fff;
    padding: 18px 48px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    background-color: #252525;
}
.imagenes {
    width: 200%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.tarjeta {
  box-sizing: border-box;
  width: 1440px;
  height: 1140px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}