body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}
.section-txt {
  max-width: 600px;
  margin-bottom: 40px;
}
.section-txt h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  display: flex;
}
.section-txt p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}
button {
    background-color: #000;
    color: #fff;
    padding: 18px 48px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    background-color: #252525;
}
.p-boton {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.imagenes {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
