body {
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.tarjeta {
  box-sizing: border-box;
  width: 1440px;
  height: 1140px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: flex-start;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    display: block;
}
.texto {
    width: 610px;
    height: 545;
    text-align: left;
    margin-bottom: 50px;
}
.interior-h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    margin: 20px;
}
.interior-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
    margin: 20px;
}
.imagenes {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    height: 1000px;
    border-radius: 16px;
}
.contenedor-texto {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
}
img {
    border-radius: 24px;
}
.imagen-texto {
    position: relative;
    width: 316px;
    height: 402px;
    border-radius: 24px;
    overflow: hidden;
}
.imagen-texto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imagen-texto .degradado {
    position: absolute;
    bottom: 0;
    width: 100%; 
    padding: 20px; 
    color: rgb(0, 0, 0); 
    font-family: "Inter", sans-serif; 
    font-size: 20px;
    background: linear-gradient( to top,
    rgba(0,0,0,0.8)
    rgba(0,0,0,0)
    );
}